@charset "UTF-8";
@import '../../../Common/css/mixins.scss';
$tableFontColor:#353d4a;
.wrapDate {
    float: left;
    width: 14.28%;
    .dataCard {
        width: 66px;
        height: 55px;
        padding: 3px;
        text-align: center;
        font-size: 12px;
        margin: 0 auto;
        &-top {
            font-size: 14px;
        }
        &-bottom {
            margin-top: 10px;
        }
    }
}

.invoiceNo {
    background-color: white;
    color: #44839a;
    cursor: pointer;
    float: right;
    padding-right: 10px;
}

.checked {
    background-color: #87c8e0;
    color: #fff;
}

.unChecked {
    background-color: #f3f5f7;
    color: #000;
}

.btnWrap {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    .div {
        margin: 0 auto;
        width: 200px;
    }
}

.bar {
    height: 34px;
    width: 100%;
    padding: 0 15px;
    margin-top: 15px;
    /*&-type {
        float: left;
        line-height: 32px;
        div {
            float: left;
            margin-right: 10px;
            label {
                font-weight: normal;
                margin-left: 10px;
            }
        }
    }*/
    &-dept {
        height: 32px;
        float: right;
        line-height: 32px;
    }
    &-type {
        height: 32px;
        float: left;
        line-height: 32px;
    }
}

.cardList {
    padding-left: 6%;
    height: 521px;
    overflow-y: auto;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    .itemWrap {
        float: left;
        width: 31%;
        margin: 7px 0;
    }
}

.cardItem {
    width: 140px;
    height: 86px;
    margin: 0 auto;
    color: #44839a;
    border: 1px solid #99b4bd;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
    &-top {
        background-color: #d3eaf9;
        height: 20px;
        padding: 0 10px;
        padding-top: 5px;
        &-left {
            float: left;
        }
        &-right {
            float: right;
            color: red;
        }
    }
    &-mid {
        padding: 8px 10px 14px 10px;
        background-color: #d3eaf9;
        height: 38px;
        font-size: 16px;
        text-align: center;
        color: black;
    }
    &-bottom {
        padding: 4px 2% 8px 2%;
        background-color: #fff;
        height: 26px;
        width: 100%;
        span {
            text-align: center;
            height: 26px;
            float: left;
        }
        .spanOdd {
            width: 22.5%;
        }
        .spanEven {
            min-width: 52%;
        }
    }
    &-menu {
        position: absolute;
        top: 10px;
        left: 80px;
        li {
            width: 80px;
            color: black;
            background-color: white;
            border: 1px solid black;
            text-align: center;
        }
    }
}

.clear {
    clear: both;
}

.changeNum {
    z-index: 1001;
    background-color: white;
    /*filter: alpha(opacity=30);
    opacity: 0.3;*/
    position: absolute;
    height: 240px;
    width: 500px;
    top: 50%;
    margin-top: -170px;
    left: 50%;
    margin-left: -250px;
    .wrap {
        background-color: white;
        opacity: 1;
        width: 100%;
        height: 180px;
        padding-top: 50px;
    }
    .wrap>div {
        margin-bottom: 15px;
    }
}

.changeInvoice {
    z-index: 1001;
    background-color: white;
    /*filter: alpha(opacity=30);
    opacity: 0.3;*/
    position: absolute;
    height: 240px;
    width: 500px;
    top: 50%;
    margin-top: -170px;
    left: 50%;
    margin-left: -250px;
    .wrap {
        background-color: white;
        opacity: 1;
        width: 100%;
        padding-top: 50px;
        .item {
            height: 30px;
            margin: 10px auto;
            width: 360px;
        }
    }
    .wrap>div {
        margin-bottom: 15px;
    }
}

.register-list {
    position: absolute;
    height: 94%;
    width: 94%;
    top: 2.5%;
    left: 2.5%;
    background-color: white;
    span {
        font-size: 12px;
        color: $tableFontColor;
        font-weight: 500;
    }
    .list-navi {
        position: absolute;
        top: 3%;
        left: 2%;
        width: 100%;
    }
    .list {
        position: absolute;
        top: 11%;
        width: 100%;
    }
    .pagination {
        position: absolute;
        bottom: 2%;
        left: 15%;
        height: 28;
        width: "100%";
    }
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 4%;
    position: relative;
    .search-icon {
        position: absolute;
        top: 24%;
        left: 6px;
        z-index: 1;
        cursor: pointer;
    }
    .search-input {
        padding: 4px 7px 4px 26px;
    }
}